.weather{
    text-align: left;
    max-width: 34rem;
    margin: 0 auto;
    align-content: center;
    border: 0.008em solid rgba(240, 248, 255, 0.574);
    background: linear-gradient(156.13deg, rgba(217, 217, 217, 0.48) -5.35%, rgba(217, 217, 217, 0.12) 103.32%);
    border-radius: 1em;
    box-shadow: 4px 4px 20px #63636320;
    padding: 2em;
    height: 44em;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}
.sc-style{
    overflow-x: scroll;
    overflow-y: hidden;
    color: aliceblue;
    scrollbar-width: thin;
    scrollbar-color: #6969dd #e0e0e0;
    cursor: pointer;
    scroll-behavior: smooth;
}
.input-styles{
    background-color: none;
}
