@font-face {
  font-family: MarkProBlack;
  src: url(./components/Font/MarkPro-Black.otf);
}
@font-face {
  font-family: MarkProBold;
  src: url(./components/Font/MarkPro-Bold.otf);
}
@font-face {
  font-family: MarkProBook;
  src: url(./components/Font/MarkPro-Book.otf);
}
@font-face {
  font-family: MarkProLight;
  src: url(./components/Font/MarkPro-Light.otf);
}
.text-style1{
  font-family: MarkProBook;
  font-size: medium;
  /* padding-right: 10em; */
}
.text-style{
  font-family: MarkProLight;
  font-size: 0.7em;
  /* padding-right: 10em; */
}
.text-style2{
  font-family: MarkProLight;
  color: aliceblue;
  font-size: 5em;
}
.text-style3{
  font-family: MarkProBook;
  font-size: small;
  text-align: left;
  color: aliceblue;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}
.input-styles{
  border: none;
  /* filter:drop-shadow(5px 5px 0px #888fe2) */
}
.button-styles{
  border-radius: 0.5em;
  border: none;
  width: 3.3em;
  box-shadow: 3px 3px 10px #26376237;
  background-color: rgb(255, 255, 255);
}
img{
  width: 2em;
  height: 2em;
}
li{
  list-style: none;
}
.ul-style{
  height: 17em;
  overflow: scroll;
}
